doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/style.css", type="text/css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    title "Backyard"
  body
    nav.transparent
      .nav-wrapper
        a.brand-logo(href="#")
          .logo.offset-s1.col
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href="#").black-text About
          li
            a(href="#").black-text Features
    section.row.center#banner
    
